name: API Regression Suite
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  api-test:
    name: 'Run API Tests'
    timeout-minutes: 20
    runs-on: ubuntu-latest
    env:
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: '1'
    permissions:
      checks: write
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Lint Code
        run: npm run lint
      - name: Run API tests
        run: npm run test
        env:
          BASE_URL: https://dummyjson.com
      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: API Test Results Summary
          path: test-results/junit.xml
          reporter: java-junit
      - name: Upload HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-html-report
          path: test-report
